.sidebar {
  width: 175px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -175px;
  transition: left 0.3s;
  background-color: #7f90e9;
}

.sidebar.open {
  left: 0;
}

.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: -40px; /* Keep it outside the sidebar */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6a81f4; /* Match the sidebar color */
  border-radius: 50%;
}

.toggle-button span {
  display: block;
  width: 10px;
  height: 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg); /* Arrow pointing to the right */
}

.sidebar.open .toggle-button {
  right: 10px; /* Inside the sidebar */
}

.sidebar.open .toggle-button span {
  transform: rotate(-135deg); /* Arrow pointing to the left */
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

li {
  padding: 10px;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sidebar-img {
  width: 25px;
  height: auto;
}

.main-container {
  display: flex;
  justify-content: center;
}

.aboutinfo-container {
  display: flex;
  justify-content: space-between;
}

.aboutinfo-inner-container {
  flex: 1;
  padding: 10px;
}

.pagename-container {
  display: flex;
  justify-content: center;
}
